{% extends "layout.html" %}
{% block title %}Tous les apparts{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.dataTables.css') }}"
          xmlns="http://www.w3.org/1999/html">

    <script type="text/javascript">
        var API_SOURCE = "{{ url_for("api_apparts") }}";
    </script>
    <script src='{{ url_for("static", filename="js/angular.js") }}'></script>
    <script src='{{ url_for("static", filename="js/apparts.js") }}'></script>
{% endblock %}
{% block content %}
    <!--
        <label for="only_news">Que les nouveautés</label><input type="checkbox" id="only_news"/>
        <br/>
        <label for="only_likes">Que les coups de coeur</label><input type="checkbox" id="only_likes"/>
        <br/>
        <label for="only_sent_emails">Que avec e-mails envoyés</label><input type="checkbox" id="only_sent_emails"/>
-->
    <div class="small-3 columns">
    <ul class="panel side-nav">
        <li>
            <label>Tri par</label>
            <select ng-model='order'>
                <option value=''>Aucun</option>
                <option value='surface'>Surface</option>
                <option value='rate'>Loyer</option>
                <option value='sqRate'>Prix au mètre carré</option>
                <option value='rooms'>Nombre de pièces</option>
                <option value='postal'>Code postal</option>
                <option value='date'>Date d'ajout</option>
            </select>
            <label><input type='checkbox' ng-model='inverse' /> Inverse</label>
        </li>

        <li>
            <label>Meuble</label>
                <select ng-model='search.withFurnitures'>
                    <option value=''>Sans préférence</option>
                    <option value='Oui'>Avec</option>
                    <option value='Non'>Sans</option>
                    <option value='N/A'>Non indiqué</option>
                </select>
        </li>

        <li>
            <label>Code postal</label>
            <input type='text' ng-model='search.postal'>
        </li>

        <li>
            <label>Pièces</label>
            <input type='text' ng-model='search.rooms'>
        </li>

        <li>
            <label><input type="checkbox" ng-model='colorSqr'>Colorer les prix au mètre carré</label>
        </li>
    </ul>
    </div>

    <div class="small-9 columns">
    <table id="tblApparts" ng-controller='AppartsCtrl'>
        <thead>
        <tr>
            <th>Titre</th>
            <th>Photo</th>
            <th>Loyer</th>
            <th>Ville</th>
            <th>CP</th>
            <th>Pièces</th>
            <th>Meublé</th>
            <th>Surface</th>
            <th>Date</th>
            <th>Source</th>
            <th>Prix mètre carré</th>
        </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
        <tr ng-repeat='a in apparts | filter:search:myComp | orderBy:order:inverse'>
                <td><a href="{{ '{{a.url}}' }}">{{ '{{a.title}}' }}</a></td>
                <td>
                    <a class="th" href="{{ '{{a.url}}' }}" ng-if="a.photo">
                        <img style="max-height:3em;" src="{{ '{{a.photo}}' }}"/>
                    </a>
                </td>
                <td>{{ '{{a.rate}}' }}</td>
                <td>{{ '{{a.city}}' }}</td>
                <td>{{ '{{a.postal}}' }}</td>
                <td>{{ '{{a.rooms}}' }}</td>
                <td>{{ '{{a.withFurnitures}}' }}</td>
                <td>{{ '{{a.surface}}' }}</td>
                <td>{{ '{{a.date}}' }}</td>
                <td>{{ '{{a.source}}' }}</td>
                <td ng-style="{{ '(colorSqr) ? {{a.style}} : {};' }}">{{ '{{a.sqRate}}' }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
